.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.main,
.user-area {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  text-align: center;
}

.input-area,
.send-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-area input,
.send-area input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none; /* ボーダーを削除 */
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); /* 内側の影を追加 */
}

.input-area button,
.send-area button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
}

.sleads-area {
  margin-top: 20px;
}
